<%- include('header') %>
<div class="content-wrapper">
    <section class="content-header">
        <h1>Comparison Result</h1>
    </section>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <% products.forEach(function(prd) { %>
                        <th><%= prd.name %></th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brand</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cname %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Price</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.price %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Image</td>
                    <% products.forEach(function(prd) { %>
                        <td><img src="<%= prd.image1 %>" alt="<%= prd.name %>" width="100"></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Description</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.discribe %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Screen</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cscreen %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Chipset</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cchipset %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>RAM & Storage</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cram_storage %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Battery</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cbattery %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Connectivity</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cconnectivity %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Water & Dust Resistance</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cwater_dust_resistance %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Camera</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.ccamera %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Operating System</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.cos %></td>
                    <% }) %>
                </tr>
                <tr>
                    <td>Audio</td>
                    <% products.forEach(function(prd) { %>
                        <td><%= prd.caudio %></td>
                    <% }) %>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('footer') %>
